body{
    overflow: hidden;
    background-color: rgb(248, 194, 194);
}
#heroImage p{
    padding: 5px;
    font-size: 20px;
    margin: 20px;
}
#heroImage {
    display: flex;
    justify-content: middle;

}
#heroImage img{
    height: 500px;
    width: 500px;
    margin: auto;
    align-content: center;
}